#submit
{
    display: block;
    flex-grow: 1;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    background: color($colors, tertiary);
    border:solid 2px color($colors, secondary);
    border-radius:5px;
    box-shadow: 0 7px #999;   
    padding:16px 40px 16px;
    letter-spacing: 2px;
    cursor:pointer;
        //when hovering over button
        &:hover {
            background-color:color($colors, secondary)
        }
        // when button is clicked
        &:active {
            margin-bottom: 20px;
            margin-top: 4px;
            box-shadow: 0 5px #666;            
            transform: translateY(10px);         
            
        }   
}
.calculations {
    text-align: center;
    line-height: 3em;
    color: color($colors, primary);
    font-size: 20px;
    margin: 30px auto;
    width: 80%;
    background-color: color($colors, contrast);

}
#startReading
{
    display: block;
    flex-grow: 1;
    margin: 10px auto;
    color: rgb(255, 255, 255);
    background: color($colors, tertiary);
    border:solid 2px color($colors, secondary);
    border-radius:5px;
    box-shadow: 0 7px #999;   
    padding:16px 40px 16px;
    letter-spacing: 2px;
    cursor:pointer;
        //when hovering over button
        &:hover {
            background-color:color($colors, secondary);
        }
        // when button is clicked
        &:active {
            margin-bottom: 20px;
            margin-top: 4px;
            box-shadow: 0 5px #666;            
            transform: translateY(10px);         
            
        }     
}
#isReadingMessage {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 100px;
    font-size: 17px;
}

#isReadingMessage.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 100px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 100px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 100px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}